 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  width: 842px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 842px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 45px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 5px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 494px;
  width: 300px;
  height: auto;
  margin: -12px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.5;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 748px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 483px;
  width: 300px;
  height: auto;
  margin: 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 30px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 0 30px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2.5;
  background-image: none;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 40px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 748px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  width: 145px;
  height: 145px;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 503px;
  width: 300px;
  height: auto;
  margin: -24px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  width: 240px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-11 {
  line-height: 2.5;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 39px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 15px auto 0 60px;
  padding: 12px 54px 13px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-1 .u-group-1 {
    width: 293px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.25rem;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 27px;
    margin-right: 26px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-1 .u-group-2 {
    width: 293px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 4.25rem;
    margin-right: 23px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 23px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 617px;
  }

  .u-section-1 .u-group-3 {
    width: 293px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 26px;
  }

  .u-section-1 .u-btn-3 {
    padding-top: 11px;
    padding-right: 53px;
    padding-bottom: 11px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 0 20px;
  }

  .u-section-1 .u-group-1 {
    width: 220px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 19px 0 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 49px 12px 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 0 20px;
  }

  .u-section-1 .u-group-2 {
    width: 220px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.4375rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 48px 12px 47px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-group-3 {
    width: 228px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0 20px;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
    width: 220px;
  }

  .u-section-1 .u-btn-3 {
    padding: 10px 48px 12px 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 111px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 101px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2747px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 530px;
    margin-top: 103px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 757px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-group-3 {
    margin-top: 124px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
  }
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-layout-cell-3,
.u-section-1 .u-layout-cell-3:before,
.u-section-1 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-layout-cell-2,
.u-section-1 .u-layout-cell-2:before,
.u-section-1 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'Mojang-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Mojang-Bold.ttf);
}